<section>
  <form #form="ngForm" (ngSubmit)="upload()">
    <p>Show us what you got ..</p>
    <p>
      <input [(ngModel)]="title" name="title" type="text" placeholder="Pick a title for your meme" />
    </p>
    <p>
      <input type="file" (change)="onImageChange($event)" />
    </p>
    <p>
      <select [(ngModel)]="category" name="category">
        <option *ngFor="let cat of categories$ | async" value="{{cat.id}}">{{cat.name}}</option>
      </select>
    </p>
    <p>
      <button>Upload</button>
    </p>
  </form>
  <div class="fuck"></div>
</section>
