<header>
  <div class="logo"></div>
  <div class="categories">
    <a [routerLink]="['/']">Home</a>
    <a
      *ngFor="let cat of categories$ | async"
      [routerLink]="['/category', cat.name]">
      {{ cat.name }}
    </a>
  </div>
  <div class="menu">
    <p class="name">{{ (user$ | async).username }}</p>
    <div *ngIf="isLogged" (click)="toggleUploader()" class="upload btn"></div>
    <div *ngIf="!isLogged" (click)="toggleAuthForm()" class="login btn"></div>
    <div *ngIf="isLogged" (click)="logout()" class="logout btn"></div>
    <mt-uploader *ngIf="isLogged" [class.show]="showUploader"></mt-uploader>
    <mt-auth-form *ngIf="!isLogged" [class.show]="showAuthForm"></mt-auth-form>
  </div>
</header>
<section>
  <mt-meme *ngFor="let meme of memes$ | async" [meme]="meme"></mt-meme>
</section>