<header>
  <div class="logo"></div>
  <div class="categories">
    <a href="">Cat 1</a>
    <a href="">Cat 2</a>
    <a href="">Cat 3</a>
  </div>
  <div class="menu">
    <div class="upload btn"></div>
    <div (click)="toggleAuthForm()" class="login btn"></div>
    <mt-uploader></mt-uploader>
    <mt-auth-form [class.show]="showAuthForm" ></mt-auth-form>
  </div>
</header>
<section>
  <mt-meme></mt-meme>
  <mt-meme></mt-meme>
  <mt-meme></mt-meme>
  <mt-meme></mt-meme>
  <mt-meme></mt-meme>
</section>