header {
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 100%;
  padding: 20px 25px;
  height: 75px;
  top: 0;
}

.logo {
  background: black;
  width: 75px;
  height: 35px;
  float: left;
}

.menu {
  position: relative;
  float: right;
}

.categories {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  text-align: center;
}

.btn {
  margin-left: 15px;
  width: 35px;
  height: 35px;
  float: left;
  cursor: pointer;
}

.login.btn {
  background: red;
}

.upload.btn {
  background: blue;
}

section {
  position: absolute;
  border: 1px solid black;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  top: 75px;
  width: 900px;
  overflow-y: scroll;
  overflow-x: none;
}

section::-webkit-scrollbar {
  display: none;
}

mt-auth-form {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 40px;
  display: none;
}

.show {
  display: block;
}