header {
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  width: 100%;
  padding: 20px 25px;
  height: 75px;
  top: 0;
}

.logo {
  border: 2px dotted black;
  padding: 6px 15px;
  height: 35px;
  float: left;
  box-sizing: border-box;
}

.categories, .menu {
  margin-top: 6px;
}

.menu {
  position: relative;
  float: right;
  z-index: 9999999;
}

p.name {
  float: left;
  color: red;
}

.categories {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  text-align: center;
}

.category {
  margin-right: 15px;
}

.menu > a {
  transition: 0.2 ease;
}

.menu > a, .menu > span {
  margin-left: 15px;
}

.login:hover {
  color: mediumseagreen;
  border-bottom-color: mediumaquamarine;
}

.upload:hover {
  color: rebeccapurple;
  border-bottom-color: rebeccapurple;
}

.logout:hover {
  color: crimson;
  border-bottom-color: crimson;
}

section {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  top: 75px;
  width: 800px;
  overflow-y: scroll;
  overflow-x: none;
}

section::-webkit-scrollbar {
  display: none;
}

mt-auth-form, mt-uploader {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 35px;
  transition: height 0.3s ease;
  display: block;
  height: 0;
  overflow: hidden;
}

.show {
  height: 500px;
}

mt-meme {
  display: block;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  font-weight: 500;
}
