<header>
  <div class="logo"></div>
  <div class="categories">
    <a [routerLink]="['/']">Home</a>
    <a
      *ngFor="let cat of categories$ | async"
      [routerLink]="['/category', cat.name]">
      {{ cat.name }}
    </a>
  </div>
  <div class="menu">
    <div (click)="toggleUploader()" class="upload btn"></div>
    <div (click)="toggleAuthForm()" class="login btn"></div>
    <mt-uploader [class.show]="showUploader"></mt-uploader>
    <mt-auth-form [class.show]="showAuthForm"></mt-auth-form>
  </div>
</header>
<section>
  <mt-meme *ngFor="let meme of memes$ | async" [meme]="meme"></mt-meme>
</section>