<section>
  <form *ngIf="isLogin" class="login-form">
    <p>
      Login from here yo ..
    </p>
    <p>
      <input type="text" placeholder="Username" />
    </p>
    <p>
      <input type="password" placeholder="Password" />
    </p>
    <p>
      <button>Login</button>
    </p>
    <p><a href="#" (click)="switchForms()">.. or register</a></p>
  </form>
  <form *ngIf="!isLogin" class="register-form">
    <p>
      <a href="#" (click)="switchForms()">go back to login</a>
    </p>
    <p>
      <input type="text" placeholder="Username" />
    </p>
    <p>
      <input type="password" placeholder="Password" />
    </p>
    <p>
      <input type="password" placeholder="Confirm Password" />
    </p>
    <p>
      <button>Register</button>
    </p>
  </form>
</section>