<section>
  <form class="login-form">
    <p>
      Login from here yo ..
    </p>
    <p>
      <input type="text" placeholder="Username" />
    </p>
    <p>
      <input type="password" placeholder="Password" />
    </p>
    <p>
      <button>Login</button>
    </p>
    <p><a href="">.. or register</a></p>
  </form>
  <form class="register-form">
    <p>
      <input type="text" placeholder="Username" />
    </p>
    <p>
      <input type="password" placeholder="Password" />
    </p>
    <p>
      <input type="password" placeholder="Confirm Password" />
    </p>
    <p>
      <button>Register</button>
    </p>
  </form>
</section>